<% @comments.each do |comment| %>
<ul>
	<li>
    <%= comment.user.email + (' says: ') + comment.content %>
  </li>
  <li>
    <% if can? :update, @comment %>
    <%= link_to 'Edit', edit_article_comment_path(@article, comment) %>
    <% end %>
  </li>
  <li>
    <% if can? :destroy, @comment %>
    <%= link_to 'Delete', article_comment_path(@article, comment), :confirm => 'Are you sure?', :method => :delete %>
    <% end %>
  </li>
</ul>
<% end %>

 
<%= link_to ('Back to ' + @article.title), article_path(params[:article_id]) %>
<%= link_to 'Leave Comment', new_article_comment_path %>