<div class='article clearfix <%= index.odd? ? "odd" : "even" %>'>
  <h1 class="title">
    <%= link_to article.title, (article), :class => "#{article.id}-#{article.title.parameterize}", :'data-current-user' => true %>
  </h1>
  <p class="author">
    <%= article.created_at.strftime("%d %b. %Y") %> &middot;
      <% if article.tags.present? %>
        <% article.tags.each do |tag| %>
          <%= tag.name %>
        <% end %> &middot;
      <% end %> 
    <span><%= "#{article.comments.count} Comments" %></span>
  </p>

  <div class='left-side clearfix'>
    <p class='description'>
      <% if article.images.present? %>
        <% article.images.each do |image| %>
          <%= image_tag image.image_url %>
        <% end %> 
      <% end %>

      <% if article.videos.present? %>
        <% article.videos.each do |video| %>
          <embed src="http://www.youtube.com/v/<%=video.video_url%>?version=3&amp;hl=en_US&amp;rel=0" type="application/x-shockwave-flash" width="100%" height="705" allowscriptaccess="always" allowfullscreen="true"></embed>
        <% end %> 
      <% end %>
      <%= article.content.html_safe %>

      <ul class='resized-author'>
        <li class='resized-date first'>
          <%= article.created_at.strftime("%d %b. %Y") %>
        </li>
        <li class='resized-tags'>
          <% if article.tags.present? %>
            <% article.tags.each do |tag| %>
              <%= tag.name %>
            <% end %>
          <% end %> 
        </li>
        <li>
          <%= link_to "#{article.comments.count} Comments", '#', :class => 'resized-comments', :'data-article-id' => article.id %>
        </li>
      </ul>
    </p>
  </div>

  <div class='right-side'>
    <div class='comments-wrapper'>
      <%= form_for [article, Comment.new], :remote => true, :html => { :id => nil, :class => 'new-comment', :'data-type' => 'json' } do |f| %>
        <% if article.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(article.errors.count, "error") %> prohibited this user from being saved:
            </h2>
            <ul>
              <% article.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= hidden_field_tag(:redirect_to, 'homepage') %>

        <div class='field'>
          <%= f.text_field :name, :placeholder => 'Nickname' %>
        </div>

        <div class='field'>
          <%= f.text_area :content, :placeholder => 'What is on your mind?', :id => 'test', :type => 'text' %>
        </div>

        <div class='submit'>
          <%= f.submit 'Submit', :class => 'btn btn-success' %>
        </div>
      <% end %>
    </div>

    <ul class='comments'>
      <% article.comments.order('created_at DESC').limit(4).each do |comment| %>
        <li class='comment'>
          <% if current_admin.present? %>
            <p class='comment_delete'>
              <%= link_to image_tag("button_cancel.png"), [comment.article, comment], :class => 'icon', data: { confirm: 'Are you sure?'},  :method => :delete, :'data-current-user' => true %>
            </p>
          <% end %>
          <span><%= "#{comment.name} " %></span><%=' says, '%><br /><br />
          <%= comment.content %>
        </li>
      <% end %>
    </ul>
    <% if article.comments.order('created_at DESC').count > 4 %>
      <%= link_to 'more', '#', :class => 'more-comments', :'data-article-id' => article.id, :'data-offset' => 4, :'data-comments-count' => article.comments.count %>
      <div class="loading"></div>
    <% end %>
  </div>
  

  <div class="resized-comment-input" >
    <%= form_for [article, Comment.new], :remote => true, :html => { :id => nil, :class => 'new-comment', :'data-article-id' => article.id, :'data-type' => 'json' } do |f| %>
      <% if article.errors.any? %>
        <div id="error_explanation">
          <h2>
            <%= pluralize(article.errors.count, "error") %> prohibited this user from being saved:
          </h2>
          <ul>
            <% article.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class='field'>
        <%= f.text_field :name, :placeholder => 'Nickname' %>
      </div>

      <div class='field'>
        <%= f.text_area :content, :placeholder => 'What is on your mind?', :id => 'test', :type => 'text' %>
      </div>

      <div class='submit'>
        <%= f.submit 'Submit', :class => 'btn btn-success' %>
      </div>
    <% end %>

    <ul class='resized-comment-list' >
      <% article.comments.order('created_at DESC').limit(4).each do |comment| %>
        <li class='resized-comment'>
          <% if current_admin.present? %>
            <p class='comment_delete'>
              <%= link_to image_tag("button_cancel.png"), [comment.article, comment], :class => 'icon', data: { confirm: 'Are you sure?'}, :method => :delete, :'data-current-user' => true %>
            </p>
          <% end %>
          <span><%= "#{comment.name} " %></span><%=' says, '%><br /><br />
          <%= comment.content %>
        </li>
      <% end %>
    </ul>

    <% if article.comments.order('created_at DESC').count > 4 %>
      <%= link_to 'more', '#', :class => 'resized-more-comments', :'data-article-id' => article.id, :'data-offset' => 4, :'data-comments-count' => article.comments.count %>
      <div class="loading"></div>
    <% end %>
  </div>

</div>
