<div id='wrapper'>
	<% @articles.each do |article| %>
		<ul class='article clearfix'>
			<li>
			 	<ul class='header clearfix'>
					<li class="title">
						<%= link_to article.title, article_path(article), :class => 'title' %>
					</li>
					<li class="author">
						<%= article.created_at.strftime("%d %b. %Y") %> &middot;
						<%= article.user.email %> &middot;
						<%= link_to (article.comments.count.to_s + ' Comments'),  article_comments_path(article, @comments) %>
					</li>
				</ul>

				<ul class='left-side clearfix'>
				  <li class='content clearfix'>
				  	<p class='image clearfix'>
				  		<%= image_tag article.image_url.to_s %>
				  	</p>
				  	<span>
				  		<%= article.content %>
				  	</span>
				  </li>
				</ul>

				<div id="comments">
					<%= form_for [article, Comment.new] do |f| %>
					  <% if article.errors.any? %>
					    <div id="error_explanation">
					      <h2><%= pluralize(article.errors.count, "error") %> prohibited this user from being saved:</h2>

					      <ul>
						      <% article.errors.full_messages.each do |msg| %>
						        <li><%= msg %></li>
						      <% end %>
					      </ul>
					    </div>
					  <% end %>

					  <%= hidden_field :redirect_to, :value=> root_url %>

						<div class='field'>
						  <%= f.text_area :content, :placeholder => 'What is on your mind?' %>
						</div>

            <div class='actions'>
					    <%= f.submit %>
					  </div>

					<% end %>

				<% if article.comments.present? %>
					<% article.comments.each do |comment| %>
						<ul class='right-side clearfix'>
							<li class='clearfix'>
							  <%= (comment.user.email + ': ' + comment.content) %>
							</li>
						</ul>
			    <% end %>
		    <% end %>
			</div>

			</li>
		</ul>
	<% end %>
</div>