<div id='wrapper'>
	<ul class='clearfix'>
		<li>
		 	<ul class='header clearfix'>
				<li class="title">
					<%= @article.title %>
				</li>
				<li class="author">
					<%= @article.created_at.strftime("%d %b. %Y") %> &middot;
					<%= @article.user.name %> &middot;
					<%= link_to (@article.comments.count.to_s + ' Comments'),  article_comments_path(@article, @comments) %>
				</li>
			</ul>
		</li>	
	</ul>

	<ul class='full clearfix'>
	  <li>

	  	<span>
	  		<%= (@article.content + ' by ' + @article.user.name) %>
	  	</span>
	  </li>
	</ul>

	<%= link_to 'Back to Articles', articles_path %> &middot;

    <%= link_to 'Edit', edit_article_path(@article) %> &middot;

	<%= link_to 'Delete', article_path(@article), :confirm => "Are you sure you want to delete", :method => :delete %> &middot;
	
	<%= link_to 'View Comments', article_comments_path(@article) %>
	
</div>