<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <%= favicon_link_tag 'vf2.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Varfoo" %></title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Uncomment to make IE8 render like IE7 -->
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
    <!-- Set the viewport width to device width for mobile -->

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application", :media => "all"%>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= yield(:head) %>
  </head>

  <body> 

    <div id="notification" data-dismiss="alert">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, :id => "flash_#{name}"  %>
      <% end %>
    </div>
    

    <!-- <div id="header2"> -->
    <!--   <h1 id="logo"> -->
    <!--     Varfoo<span>.</span> -->
    <!--   </h1> -->
    <!-- </div> -->

    <div id='fluid'>
      <div id='fluid-wrapper'>
        <div id='header'>
          Varfoo
        </div>
        <div id='links'>
          <div id='alignment'>
            <%= link_to 'Recent Posts',  root_path, :class => 'navlink' %> 
            <%= link_to 'Babes',  '', :class => 'subnavlink' %> 
            <%= link_to 'Movies',  '', :class => 'subnavlink' %> 
            <%= link_to 'Technology',  '', :class => 'subnavlink' %> 
          </div>
          <div id='alignment'>
            <%= link_to 'About / CV', '#', :class => 'navlink' %>
            <%= link_to 'Biography',  '', :class => 'subnavlink' %> 
            <%= link_to 'Works',  '', :class => 'subnavlink' %> 
          </div>
          <div id='alignment'>
            <%= link_to 'Contact', '#', :class => 'navlink' %>
            <%= link_to 'Email',  '', :class => 'subnavlink' %> 
            <%= link_to 'Facebook',  '', :class => 'subnavlink' %> 
            <%= link_to 'Twitter',  '', :class => 'subnavlink' %> 
          </div>
          <% if current_admin.present? %>
            <div id='alignment'>
              <%= link_to 'New Article', new_article_path, :class => 'navlink'%>
            </div>
          <% end %>
        </div>
      </div>
    </div>

    <div id="catchphrase">
      keep it simple.
    </div>

    <div id="main" role="main">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <div id="footer">
      <a id="top" href=''>▲ Scroll Up</a>
    </div>
    <% if current_admin.present? %>
      <div id="user_nav">
        <h4>
          Logged in as <%= current_admin.name %>.
          <%= link_to "Log out", log_out_path %>
        </h4>
      </div>
    <% end %>

  </body>
</html>
