<!DOCTYPE html>
<html>
<head>
  <title>MarcSeifert</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
	<body> 
		<div id="notification">
			<% flash.each do |name, msg| %>
			  <%= content_tag :div, msg, :id => "flash_#{name}" %>
			<% end %>
		</div>

		<h1 id="logo">
	  	Marc.
	  </h1>

	  <div id="container">
			<%= yield %>
		</div>

		<div id="user_nav">
		  <% if current_user %>
			  <h4>
			    Logged in as <%= current_user.email %>.
			    <%= link_to "Log out", log_out_path %>
			  </h4>
		  <% else %>
			  <h4>
			    <%= link_to "Sign up", sign_up_path %> or
			    <%= link_to "Log in", log_in_path %>
		    </h4>
		  <% end %>
		</div>

	</body>
</html>
